In [1]:
import pandas as pd
import numpy as np

In [2]:
lista = [10,20,30,40,50]

In [9]:
series1 = pd.Series(lista)

In [11]:
series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
series1[1]

20

In [6]:
dicionario = {'telefone':'99999999', 'telefone2':'88888888', 'telefone3':'77777777'}

In [12]:
series2 = pd.Series(dicionario)

In [13]:
series2

telefone     99999999
telefone2    88888888
telefone3    77777777
dtype: object

In [14]:
series2[2]

'77777777'

In [15]:
series2['telefone3']

'77777777'

In [16]:
arr = np.array([10,20,30,40,50])

In [17]:
arr

array([10, 20, 30, 40, 50])

In [18]:
series3 = pd.Series(arr)

In [19]:
series3

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [20]:
series4 = pd.Series([10,20,30,40,50])

In [21]:
series4

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [22]:
lista = [100,200,300,400,500]

In [23]:
series4 = pd.Series(lista)

In [25]:
series4

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [28]:
series5 = pd.Series([1,2,3,4], index=['Brasil', 'USA', 'Argentina', 'Chile'])

In [29]:
series5

Brasil       1
USA          2
Argentina    3
Chile        4
dtype: int64

In [30]:
lista = [1,2,3,4]
labels = ['Brasil', 'USA', 'Argentina', 'Chile']

In [31]:
series6 = pd.Series(data=lista, index=labels)

In [32]:
series6

Brasil       1
USA          2
Argentina    3
Chile        4
dtype: int64

In [35]:
series7 = pd.Series(data=[2,4,6,8], index=['Brasil', 'USA', 'Chile','Uruguai'])

In [36]:
series7

Brasil     2
USA        4
Chile      6
Uruguai    8
dtype: int64

In [37]:
series7+ series6

Argentina     NaN
Brasil        3.0
Chile        10.0
USA           6.0
Uruguai       NaN
dtype: float64